body {
    background-color: #F0EFF2;
}

.table--row {
    height: 80px;
    border-bottom: 2px solid #E1E1E1;
    font-family: 'Inter';
}

.table--header {
    width: 300px;
    padding-left: 60px;
    text-align: left;
}

.table--data {
    color: #000000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.table--data__name {
    margin-left: 20px;
}

.table--data:nth-type(2) {
    display: flex;
}

.table--data__year,
.table--data__day {
    display: inline;
    margin-left: 20px;
}

.table--data__year {
    margin-right: 110px;
}

.table--data__start,
.table--data__finish {
    width: 103px;
    height: 29px;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.tilde {
    display: inline-block;
    width: 90px;
    margin: 16px 0 16px 10px;
    text-align: center;
}

.table--data__textarea {
    width: 316px;
    height: 72px;
    margin: 15px 0;
    padding: 5px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.form--button {
    margin-top: 40px;
    text-align: right;
}

.form--button__submit {
    width: 130px;
    height: 50px;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.table--data-p {
    display: flex;
    align-items: center;
    height: 80px;
    color: #000000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.table--data__start-p,
.table--data__finish-p {
    border: none;
    width: 103px;
    text-align: center;
}

.status__message {
    width: 900px;
    text-align: end;
    color: #FF000080;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.15em;
}