/*attendanceList, request 共通スタイル*/

body {
    background-color: #F0EFF2;
    font-family: Inter;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 36px auto;
    width: 916px;
}

.attendance--table,
.staff--table {
    width: 900px;
    margin-top: 45px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.table--row {
    height: 45px;
    border-bottom: 2px solid #E1E1E1;
}

.table--row:first-of-type {
    border-bottom: 3px solid #E1E1E1;
}

.detail {
    text-decoration: none;
    color: #000000;
}

.staff--table .table--row>th:first-child,
.staff--table .table--row>td:first-child {
    padding-left: 70px;
}

.staff--table .table--row>th:last-child,
.staff--table .table--row>td:last-child {
    padding-right: 70px;
}

.form--button {
    width: 900px;
    margin-top: 50px;
    text-align: right;
}

.form--button__output {
    height: 50px;
    padding: 0 35px;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.15em;
}