.request-status {
    display: inline-block;
    width: 900px;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    letter-spacing: 0.15em;
}

.pending-data {
    margin: 0 40px;
    text-decoration: none;
    color: #000000;
}

.pending-data.active {
    font-weight: bold;
}

.table--data {
    text-align: center;
    font-size: 16px;
}

.table--header:first-of-type,
.table--data:first-of-type {
    padding-left: 10px;
}

.table--header:last-of-type,
.table--data:last-of-type {
    padding-right: 20px;
}